@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --safe-area-inset-top: env(safe-area-inset-top);
        --safe-area-inset-right: env(safe-area-inset-right);
        --safe-area-inset-bottom: env(safe-area-inset-bottom);
        --safe-area-inset-left: env(safe-area-inset-left);
    }

    body {
        @apply antialiased overflow-hidden select-none touch-none;
        -webkit-tap-highlight-color: transparent;
    }
}

@layer utilities {
    .pb-safe {
        padding-bottom: env(safe-area-inset-bottom);
    }
    .pt-safe {
        padding-top: env(safe-area-inset-top);
    }
    .pl-safe {
        padding-left: env(safe-area-inset-left);
    }
    .pr-safe {
        padding-right: env(safe-area-inset-right);
    }
}
